.cart-item-list{
    width: 100%;
    padding: 1rem;
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    gap: 8px;
    background: wheat;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    border-radius: 2px;
    place-items: center;
}
.cart-items-img{
    width: 100%;
}

.cart-items-name{
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}

.cart-add{
    padding: 3px 9px;
    color: white;
    background: orange;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
}

.cart-remove{
    padding: 3px 10px ;
    color: white;
    background: rgb(184, 176, 176);
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
}