.menu-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.menuList{
    background-color: wheat;
}
h1{
    text-align: center;
}
.card{
    background-color: antiquewhite;
}
h5{
    text-align: center;
}